

.container .nl-content .nl-logo-area img {
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 40px
}

.container .nl-content .nl-logo-area h1 {
	margin-left: 200px;
	margin-top: -60px
}

.container .nl-content .slogan {
	margin-left: 1000px;
	margin-top: -40px ;
	margin-bottom: 100px

}

.container .nl-content .slogan a {
	color: #000;
	font-size: 16px;
	float: left;
	font-weight: 900;
	margin-left: 20px;

}
