

.container .nl-content .nl-logo-area img {
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 40px
}

.container .nl-content .nl-logo-area h1 {
	margin-left: 200px;
	margin-top: -60px
}

.container .nl-content .slogan {
	margin-left: 1000px;
	margin-top: -40px ;
	margin-bottom: 100px

}

.container .nl-content .slogan a {
	color: #000;
	font-size: 16px;
	float: left;
	font-weight: 900;
	margin-left: 20px;

}

hr {
	width: 1390px;
	margin-left: -110px;
}

.container .nl-content .banner {
	width: 1390px;
	height: 500px;
	margin-top: -20px;
	margin-left: -110px;
	background-color: #f5f5f5;
}

.container .nl-content .banner  img {
	margin-top: 30px;
	margin-left: 300px
}

.container .nl-content .banner h1 {
	color: #b0b0b0;
	margin-left: 700px;
	margin-top: -300px
}

.container .nl-content .banner button {
	width: 180px;
	height: 55px;
	margin-top: 50px;
	margin-left: 700px;
}
